.stackTag {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--green-house);
  background-color: var(--green-light);
  padding: 3px 12px;
  border-radius: var(--radius-pill);
}
